# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo
*.so

# ==========================
# Ambientes virtuais
# ==========================
.venv/
venv/
env/

# Conda
conda-meta/

# ==========================
# Banco de dados local
# ==========================
*.db
*.sqlite
*.sqlite3

# ==========================
# Cache
# ==========================
.pytest_cache/
.mypy_cache/
.coverage

# ==========================
# IDEs
# ==========================
.vscode/
.idea/

# ==========================
# Node
# ==========================
node_modules/

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Sistema
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Build
# ==========================
dist/
build/
